/* Basic reset and typography styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-cls: #e2e8f0;
  --sidebar-cls: #4b5563;
  --text-cls: #fff;
  --border-cls: #047857;
  --main-cls: #fff;
  --hover-cls: #4c9995c5;
}

::selection {
  background-color: #4b5563;
  color: #ffffffde;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: 40px;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

i {
  cursor: pointer;
}

/* Layout styles using grid */
/* .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
} */

.grid {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1.5fr;
  /* grid-template-rows: auto 1fr 1fr; */
  height: 100%;
  grid-template-areas:
    "left-sidebar header header"
    "left-sidebar main right-sidebar"
    "left-sidebar main right-sidebar";
}

.left-sidebar {
  background-color: var(--sidebar-cls);
  grid-area: left-sidebar;
}

.header {
  background-color: var(--bg-cls);
  grid-area: header;
}

.main {
  background-color: var(--main-cls);
  grid-area: main;
}

.right-sidebar {
  grid-area: right-sidebar;
}

/* Left sidebar design */
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.dashboard h1 {
  font-size: 25px;
  color: var(--text-cls);
  font-weight: 100;
}

.sidebar__menus i {
  color: #fff;
  font-size: 1.1rem;
  margin-right: 10px;
}

.sidebar__menus a {
  display: flex;
  padding: 10px;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  color: var(--bg-cls);
  font-size: 18px;
}

.sidebar__menus a:hover {
  background-color: #e2e8f0;
  color: #000;
  transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.5s;
  font-size: 1.5rem;
}

.input {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.input i {
  font-size: 18px;
  color: var(--hover-cls);
}

input {
  border-radius: 5px;
  border: none;
  outline: 1px solid var(--hover-cls);
  background-color: var(--bg-cls);
}

input:focus {
  background-color: var(--bg-cls);
  font-size: 1.3rem;
  outline: none;
  border: none;
}

.profile__ {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

.profile__ p {
  font-size: 18px;
  font-weight: bold;
}

.profile {
  border: 2px solid var(--text-cls);
  border-radius: 60%;
  background-color: var(--bg-cls);
}

.profile__details {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px;
}

.profile__buttons {
  margin-left: auto;
}

.profile__buttons button {
  border: none;
  background-color: var(--sidebar-cls);
  color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 16px;
  width: 80px;
}

button:hover {
  background-color: #F8EDE3;
  transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.5s;
  color: #000;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.main__heading {
  margin: 10px;
}

.card {
  padding: 30px;
  margin: 10px;
  background-color: var(--bg-cls);
  border-radius: 20px;
  border-left: 6px solid var(--sidebar-cls);
}

.card:hover {
  background-color: #F8EDE3;
  cursor: pointer;
  border-left: 6px solid var(--sidebar-cls);
  transition: all .4s ease-in;
}

.card__text p {
  font-size: 0.8rem;
  padding-top: 10px;
}

.card__text h3 {
  font-size: 1.2rem;
}

.main__icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: var(--sidebar-cls);
  padding-top: 15px;
}

.right__container {
  background-color: #4b5563c4;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.right-sidebar h2 {
  text-align: center;
  margin-top: 10px;
}

.right_sidebar_text {
  border-bottom: 3px solid #fff;
  padding: 15px;
}

.right_sidebar_text p {
  font-size: 14px;
}

.right_sidebar_text h3 {
  font-size: 18px;
}

.other_container {
  display: flex;
  flex-direction: column;
}
